<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
</head>
<body>
    <header>
        <h1>Checkout</h1>
    </header>
    <main>
        <h2>Product: {{.Product}}</h2>
        <h3>Price: R$ {{.Price}}</h3>

        <form action="/finish" method="post">
            <input type="hidden" name="product_id" value="{{.Uuid}}">
            Name: <input type="text" name="name"><br>
            E-mail: <input type="text" name="email"><br>
            Phone: <input type="text" name="phone"><br>

            <button>Checkout</button>
        </form>
    </main>
</body>
</html>